.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  background-color: black;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px black;
  object-fit: contain;
}

.since {
  font-size: 0.1rem;
}
