@font-face {
  font-family: "OneMobilePOP";
  src: url("../font/ONEMobilePOP.ttf")
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px black;
  object-fit: contain;
}

.img {
  position: absolute;
  top: 300px;
  left: 1270px;
}

.firstpagetextimg{
  max-width: 50%;
  position: absolute;
  top:400px;
  left: 240px;
}

.leftimg{
  position: absolute;
  top:350px;
  left: 140px;
}

.rightimg{
  position: absolute;
  top:380px;
  left: 1140px;
}

.first-text {
  position: relative;
  left: -600px;
  top: -100px;
  text-align: left;
}

.second-text {
  position: relative;
  left: -300px;
  top: -80px;
  text-align: left;
}


.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 140px;
  margin-left: 90px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto); 
  /* grid-gap: 20px; */
  list-style: none;
  text-align: center;
  width: 28vw;
  /*justify-content: center;*/
  /* margin-right: 22rem;  */
  position: relative;
  left: -350px;
  top: -40px;
}

.title {
  white-space: pre-wrap;
  width: 200px;
}

/* .title:hover {
  transform: scale(1.1);
} */

.nav-links-mobilee {
  text-decoration: none;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  border-radius: 4px;
  width: 5x;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}
.nav-links-mobile:hover {
  background: white;
  /* color: white; */
  transition: 250ms;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .nav-links-mobile {
    align-items: center;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 5x;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
