* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.purpose{
  margin-top: 50px;
  margin-bottom: 50px;
}

.text {
  width: 50%;
  /* height: 50%; */
  line-height: 300%;
  margin-top: 8px;
}

.text {
  transition: transform 0.7s, opacity 1s;
}
.body:active {
  border-bottom: 2px solid white;
}

.lecturer{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button{
  height:130px;
}